<ul class="review-grid">
  <li class="add-review-tile mar-bottom">
    <div class="search">      
      <form action="">
        <div class="form-row"> 
          <input type="search" name="filter-movies" placeholder="Search" class="form-input mar-bottom">
          <input type="submit" placeholder="" class="form-submit">
        </div>
      </form>
    </div>

    <a href="#" class="add-review" id="overlay-init">
      <span class="add-review_icon">+</span><br>
      <span class="add-review_cta">Add a review</span>
    </a>
  </li>
  <% for(i=0; i < movies.length; i++) { %>
    <li class="review-tile mar-bottom">
      
        <h2 class="review-title">   
          <a href="#" class="review-target" data-movie="movie_<%= i %>">
            <%= movies[i].title %> <br>
            <span>&blacktriangledown;</span>
          </a>
        </h2>

        <p class="review-text mar-y" data-text="movie_<%= i %>">
          <%= movies[i].review %>
        </p>
        
        <div class="review-thumbnail mar-y">        
          <% if (movies[i].image){ %>
              <img src="<%= movies[i].image %>" alt="<%= movies[i].title %>" class="review-image">
          <% } %>
        </div>

        <div class="review-rating">     
          <p>My Rating:</h3>
          <% if (movies[i].rating == 0){ %>
            ⭐</p>
          <% } else if (movies[i].rating == 1){ %>
            ⭐⭐</p>
          <% } else if (movies[i].rating == 2){ %>
            ⭐⭐⭐</p>
          <% } else { %>
            ⭐⭐⭐⭐</p>
          <% } %>
        </div>


        

    </li>
  <% } %>
</ul>