<ul class="review-grid">
  <li class="add-review-tile">
    <a href="#" class="add-review" id="overlay-init">
      <span class="add-review_icon">+</span><br>
      <span class="add-review_cta">Add a review</span>
    </a>
  </li>
  <% for(i=0; i < movies.length; i++) { %>
    <li class="review-tile">
      <% if (movies[i].image){ %>
        <div class="review-thumbnail">        
          <img src="<%= movies[i].image %>" alt="<%= movies[i].title %>" class="review-image">
        </div>
      <% } %>
      
        <h2 class="review-title">   
          <a href="#" class="review-target" data-movie="movie_<%= i %>">
            <%= movies[i].title %> <br>
            <span>&#65516;</span>
          </a>
        </h2>

        <p class="review-text" data-text="movie_<%= i %>">
          <%= movies[i].review %>
        </p>

        <p>My Rating:</h3>
        <% if (movies[i].rating == 0){ %>
          BOO</p>
        <% } else if (movies[i].rating == 1){ %>
          Ok</p>
        <% } else if (movies[i].rating == 2){ %>
          YEAHHHHH</p>
        <% } else { %>
          ???</p>
        <% } %>
    </li>
  <% } %>
</ul>