<ul class="reviews">

  <% for(i=0; i < movies.length; i++) { %>
    <li class="review">
      <% if (movies[i].image){ %>
        <div class="review-thumbnail">        
          <img src="<%= movies[i].image %>" alt="<%= movies[i].title %>" class="review-image">
        </div>
      <% } %>
      
      <div class="review-detail" >
        <h2 class="review-title">   
          <a href="#" class="review-target" data-movie="movie_<%= i %>"><%= movies[i].title %></a>
        </h2>

        <p class="review-text" data-text="movie_<%= i %>">
          <%= movies[i].review %>
        </p>

        <h3>My Rating:</h3>
        <% if (movies[i].rating == 0){ %>
          <p>BOO</p>
        <% } else if (movies[i].rating == 1){ %>
          <p>Ok</p>
        <% } else if (movies[i].rating == 2){ %>
          <p>YEAHHHHH</p>
        <% } else { %>
          <p>???</p>
        <% } %>

      </div>


    </li>
  <% } %>
</ul>